<div  class="card-product-custom w-100">
  <a href="{{ product.url }}" class="header-card" style="height: 190px;display:flex;">
    <img
      src="{{ product.featured_image | img_url: '500x500' }}"
      alt="{{ product.featured_image.alt | escape }}"
      width="100%"
      height="200"
      style="border-radius:1px;width:100%;height:100%;object-fit:cover"
    >
  </a>
  <div class="body-card" style="
    align-items: self-start;
    margin-top: 15px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  ">
  


    
  <div class="d-flex flex-column align-items-start">
    <div class="title-card">
      <strong>{{ product.title }}</strong>
    </div>
    {% if product.available %}
    {% else %}
        <div class="available-card" style="
          position: absolute;
          top: 7%;
          left: 10%;
        ">
          <span class="badge" style="background:#a1a1a1;">Unavailable</span>
        </div>
    {% endif %}
  </div>
  <div class="footer-card w-100" style="display: flex;
    justify-content: space-between;
    align-items: center;margin-top:10px;">
      <div class="price-card">
        {% if product.compare_at_price > product.price %}
          <span class="price-original" style="text-decoration: line-through;color:red!important;">
            {{ product.compare_at_price | money }} </span
          >&nbsp;
          <span class="price-sale">
            {{ product.price | money }}
          </span>
        {% else %}
          {{ product.price | money }}
        {% endif %}
      </div>
      <div class="cart-card d-flex align-items-center">
       <div class="swym-button swym-add-to-wishlist  me-3 swym-heart"
          id="swym-button-{{ product.id }}"
          data-with-epi="true"
          data-swaction="addToWishlist"
          data-product-id="{{ product.id }}"
          data-variant-id="{{ product.variants[0].id }}"
          data-product-url="{{ shop.url }}{{ product.url }}"
          data-status="not_added"
          >
          <i class="fa fa-heart" style="font-size:20px;"></i>
        </div>
      <style>
        #swym-button-{{ product.id }}[data-status="not_added"] i {
          color: #a1a1a1;
        }
        #swym-button-{{ product.id }}[data-status="adding"] i {
          color: #d25d5d; 
        }
      </style>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
        

          setTimeout(function () {
            var swymButton = document.getElementById("swym-button-{{ product.id }}");
         

              let classesInitial = swymButton.classList;
              console.log(classesInitial);
              if (classesInitial.contains("swym-added")) {
                swymButton.setAttribute("data-status", "adding");
                console.log("added");
              } else {
                swymButton.setAttribute("data-status", "not_added");
                console.log("not added");
              }

              swymButton.querySelector("i").addEventListener("click", function () {
                console.log("clicked");

                if (swymButton.getAttribute("data-status") == "not_added") {
                  swymButton.setAttribute("data-status", "adding");
                  console.log("adding 2");
                } else {
                  swymButton.setAttribute("data-status", "not_added");
                  console.log("not added 2");
                }
              });


          }, 5000);

        });

      </script>
  
      {% if product.available %}
          <a data-ajax-cart-request-button href="{{routes.cart_add_url}}?id={{ product.variants.first.id }}&quantity=1" class="item-cart" style="z-index:2;justify-self: end;"><i class="fa fa-shopping-cart"></i></a>       
      {% else %}
          <button disabled class="item-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
      {%  endif %}
      
      </div>
    </div>
  </div>
</div>