{% assign current_timestamp = 'now' | date: '%s' %}
{% assign unique_id = 'unique-id-' | append: current_timestamp %}
{% assign blocks = blocks | map: 'settings' %}
{% assign images = blocks | map: 'image' %}


<div class="owl-carousel owl-theme " id="{{ unique_id }}">
  {% for image in images %}
  
      <a class="item" href="{{ image | img_url: '1024x1024' }}" >

          <img
            src="{{ image | img_url: '1024x1024' }}"
            width="450"
            height="auto"
          >
  
      </a>

  {% endfor %}
</div>
<style>
   #{{unique_id}} .item{
     max-width: 450px;
     max-height: 90%;
     height: {{height}}px;
     width: 100%;
   }
   
  #{{unique_id}} .item img{
    width: 100%;
    height:100%;
    object-fit:cover;
  }
  
  .owl-carousel#{{unique_id}} .owl-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding: 7px;
      transition: all 0.3s ease-in-out;
  }
  #{{unique_id}} .owl-dots{
    display:none;
  }
  #{{unique_id}}{
    display: none;
    animation: fadeDowToUp ease 1.5s;
  }
  @keyframes fadeDowToUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    40% {
      opacity: 0;
      transform: translateY(80%);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @media screen and (max-width: 768px){
   #{{unique_id}}  .item{
       height: 390px;
       max-width:300px;
     }
   #{{unique_id}} .owl-dots{
        display:block;
    }
   }

  @media screen and (min-width: 1140px){
     #{{unique_id}} .owl-item:not(.active) {
          transform: scale(0.8) translateX(-83%);
      }
  }
  @media screen and (min-width: 1140px){
    .owl-carousel#{{unique_id}} .owl-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: 7px;
        transition: all 0.4s linear;
        z-index: 1;
    }
  }
  #{{unique_id}} .owl-item.active {
      z-index: 5;
  }

   #{{unique_id}} .owl-dots{
     display:block;
   }
  
</style>
<script>
  document.addEventListener("DOMContentLoaded", function(){
        $("#{{unique_id}}").owlCarousel({
          items: 1,
          loop: true,
          margin: 10,
          autoplay: true,
          autoplayHoverPause: true,
          nav: true, 
          navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
          dots: true,
          responsive: {
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
          }
        });
        $("#{{unique_id}}").show();
  });
</script>
