



{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}

  

    
    
<section class="product-grid w-100 h-100 d-flex align-items-center justify-content-center">
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card w-100">


  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% render 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}
  
 
<!--<div class="team__item set-bg" style="background: url({{ product.featured_image | img_url: 'large' }}); background-size: cover;"></div>-->

  <div class="card-product-custom">
   
   
  
      {%  if size=="medium" %}

         {%  render "custom-medium-product", product:product %}

      {% elsif size=="large" %}
  
         {%  render "custom-large-product", product:product %}
        
      {% else %}

         {%  render "custom-normal-product", product:product %}

      {% endif %}



      

     

 
    
  </div>
    
  

</div>
</section>

