
{% assign heroImageLocal = image-hero-local %}

{% assign heroImageGlobalMen = settings.subpage_hero_background_men  %}
{% assign heroImageGlobalWomen = settings.subpage_hero_background_women  %}
{% assign hero = "" %}


{% if heroImageLocal == blank %}

  {% if type=="men" and heroImageGlobalMen != blank %}
    {% assign hero = heroImageGlobalMen %}
  {% endif %}

  {% if type=="women" and heroImageGlobalWomen != blank %}
    {% assign hero = heroImageGlobalWomen %}
  {% endif %}

{% else %}
  
      {% assign hero = heroImageLocal %}

{%  endif %}


<section class="hero-sub breadcrumb-area spad bg-img bg-overlay bg-img-hero section-{{ section.id }} {{ type }}">
     
        <style>
             .section-{{ section.id }}{
               background-image:  url('{{ hero | img_url: 'master' }}');
               background-position: center;
               background-size: cover;
               height: 300px;
               display: flex;
               align-items: center;
               justify-content: center;
             }
        </style>
      
  
{% if title == blank %}
  
       {% if page.title %}
         

        {% assign ttile = page.title %}
    
         
      
       {%  else %}
         {%  if template.name == "collection" %}
         {% assign title = collection.title %}
          
           {% else %}
          {%  assign title = template.name %}
           {% if title == "product" %}
            
              {%  for collection in product.collections limit:1 %} 
                {% assign title = collection.title %}
              {% endfor %}

          {%  elsif title == "cart" %}


          {%  assign title = 'cart.general.title' | t  %}
          {%  elsif title == "search" %}
              {%  assign title =  "Search"  %}


          {%  elsif title == "list-collections" %}
               {%  assign title =  "Categories"  %}
             
          {% endif %}


  
           {% endif %}
{%  endif %}  
  {% endif %}
  <div class="container color-{{ scheme }}" style="background:transparent">
            <div class="row align-items-center justify-content-center page-width">
                <div class="col-12 d-flex justify-content-center">
                    <div class="breadcrumb-content justify-content-center text-center" data-aos="fade-up">
                        <h2>
                          {{ title  }}
                        </h2>
                        <nav aria-label="breadcrumb justify-content-center text-center" style="background:rgb(var(--color-background-2));">
                            <ol class="breadcrumb justify-content-center text-center" >
                                <li class="breadcrumb-item"><a style="text-decoration:none;color:white;font-weight: 900;" href="{{ routes.root_url }}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page" style="color: rgb(var(--color-background-2));font-weight: 900;">
                                 {{ title  }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</section>
