{% schema %}
  {
    "name": "Custom Best Sellers",
    "settings": [
        {
            "type": "color_scheme",
            "id": "scheme_selector",
            "label": "Scheme Number"
        }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product Card",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ],
        "limit": 5
      }
    ],
    "presets": [
      {
        "name": "Best Sellers",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  <style>
    #shopify-section-{{section.id}}, .best-sellers-section{
      text-align:center;
      background:rgb(var(--color-background-3)) !important;
      padding:50px 0;
    }
     #shopify-section-{{section.id}} h2 {
       color: rgb(var(--color-foreground_3));
     }
     #shopify-section-{{section.id}} p{
       color: #888888;
       max-width: 550px;
     }
    #shopify-section-{{section.id}} .grid-container-product{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 20px;
      margin-bottom: 45px;
    }
    #shopify-section-{{section.id}} .grid-item{
      display:flex;
      justify-content:center;
      align-items:center;
      background:rgb(var(--color-background-4));
      grid-column: span 3;
      color: rgb(var(--color-foreground_3));
      padding: 15px 20px 15px 20px;
    }
     #shopify-section-{{section.id}} .grid-item:nth-child(1){
       grid-column: span 4;
     }
    #shopify-section-{{section.id}} .grid-item:nth-child(2){
      grid-column: span 8;
    }
    #shopify-section-{{section.id}} .grid-item:nth-child(5){
      grid-column: span 6;
    }
    #shopify-section-{{section.id}} .grid-item .header-card{
      overflow: hidden;
    }
    #shopify-section-{{section.id}} .title-card strong{
      color:rgb(var(--color-foreground_3));
      font-size: 1.4rem;
      line-height:1;
    }
    #shopify-section-{{section.id}} .price-card{
      color: rgb(var(--color-background-2));
      font-weight: 400;
      font-family: 'Assistant';

    }
    #shopify-section-{{section.id}} .item-cart {
      background: rgb(var(--color-background-2));
      border-radius: 50%;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(var(--color-foreground));
      text-decoration: none;
      transition: all 0.3s ease;
    }
    
    #shopify-section-{{section.id}} .item-cart:hover {
      transform: scale(1.1);
    
    }
    
    #shopify-section-{{section.id}} .item-cart:active {
      transform: scale(0.9); /* Reduce ligeramente el tamaño para simular presión */
      
    }
  </style>
  
  <div class="best-sellers-section mb-5 color-{{ section.settings.scheme_selector }} ">
    <div class="page-width d-flex justify-content-center flex-column align-items-center">
      <h2 style="margin-bottom:45px;">Best Sellers Section</h2>
      <p style="margin-bottom:45px;">Lorem ipsum dolor sit amet consectetur. Adipiscing purus commodo nulla cras pulvinar ante at magna.</p>
      <div class=" grid-container-product w-100">
        {% for block in section.blocks %}
          {% assign product = all_products[block.settings.product] %}
        
             <div class="grid-item grid-item-{{forloop.index}}">

                {% if forloop.index == 2 %}
                  
                 {% render "custom-card-product", product:product, size:"large" %}
               
                {% elsif forloop.index == 5 %}
                  
                 {% render "custom-card-product", product:product, size:"medium" %}
               
                {% else %}
                  
                  {% render "custom-card-product", product:product, size:"normal" %}
               
                {% endif %}
               
             </div>
          
        {% endfor %}
      </div>
    </div>
  </div>