<div id="categories-section" class="container-fluid color-{{ section.settings.scheme_selector }}">
  <div class="row page-width">
    {% for block in section.blocks %}
    <div class="col-md-4 ">
      <div class="card d-flex {% if forloop.index == 2 %}flex-column-reverse{% else %} flex-column{% endif %} align-items-center">
        <a href="{{ block.settings.link }}" 
        class="category-image w-100 d-flex justify-content-center align-items-center position-relative" style="height: 200px; background-size: cover; background-position: center;">
          <img class="position-absolute img-hover" src="{{ block.settings.image | img_url: '600x' }}" alt="" style="top:0;left:0;width:100%;height:100%;object-fit:cover;">
    
          <i class="fa {{ block.settings.icon }}" style="font-size: 24px; color: white;"></i>
        </a>
        <div class="category-info text-center" style="background-color: #f7f7f7; padding: 20px; width: 100%;">
          {%  if block.settings.title %}
            <span>{{ block.settings.title }}</span>
          {%  endif %}
          {% if block.settings.title_category %}
            <h3 class="category-title" style="margin: 15px 0;">{{ block.settings.title_category }}</h3>
          {% endif %}
          <a href="{{ block.settings.link }}" class="btn btn-primary">{{ block.settings.button_text }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<style>
  .category-image:hover .img-hover{
    transform: scale(1.1);
  }
  .img-hover{
    transition: all 0.3s ease-in-out;
  }
  #categories-section{
    background: rgb(var(--color-background-4));
    color: rgb(var(--color-foreground_3));
    padding: 70px 0;
  }
   #categories-section .category-title, #categories-section .category-info span{
     color:rgb(var(--color-foreground_3));
     
   }
  #categories-section .btn-primary{
    background: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
  }
  #categories-section .card{
    box-shadow: -2px 1px 3px 1px #9595951f;
    gap: 15px;
    border-top: solid 4px rgb(var(--color-background-2));
    border-bottom: solid 4px rgb(var(--color-background-2));
    border-radius: 2px;
  }
  @media (max-width:767px){
    #categories-section .row{
      gap:30px;
    }
     #categories-section .flex-column-reverse{
       flex-direction:column!important;
     }
  }
</style>

{% schema %}
{
  "name": "Custom Categories Grid",
  "max_blocks": 3,
  "settings":[
    {
        "type": "color_scheme",
        "id": "scheme_selector",
        "label": "Scheme"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Category Image"
        },
        {
          "type": "text",
          "id": "title_category",
          "label": "Name Category",
          "default": "Category"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "View Products"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Categories Grid",
      "category": "Custom Content"
    }
  ]
}
{% endschema %}