<style>

  
.channels{
  background: rgb(var(--color-background-2));
  color: rgb(var(--color-foreground));
  text-align: center;
  height: auto !important;
  position: relative;
  overflow: hidden;
}
  
  
.channels p{
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0px 0px 0px;
  color: rgb(var(--color-foreground));
}

.channels img{
  max-width: 70px;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 7;
  transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}


.channels h2{
  position: relative;
  z-index: 7;
  margin-bottom: 0;
  color: rgb(var(--color-foreground));
 
}

.channels .col-6:hover img, .channels i:hover {
    transform: rotateY(180deg);
}
  
 .channels .adorno {
    position: absolute;
    left: -200px;
    top: 80px;
    height: 100%;
    opacity: 0.05;
}

@media (max-width: 760px){
  .channels .border-left-channels {
    border-left: 0px;
  }
  
  .channels .adorno {
    position: absolute;
    left: -200px;
    top: 80px;
    height: 100%;
    opacity: 0.05;
}
  
  .channels h2{
  
  margin: 20px 0px;
}
  
  .channels p{

  margin-bottom: 20px;
}
}
.custom-shape-divider-top-1660083344 {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
@keyframes derrame{
  0% {
    height: 2px;
  }
  100% {
    height: 172px;
  }
}
.custom-shape-divider-top-1660083344 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 2px;
  transition: height 1s ease-in-out;
  
}


.icon-benefit{
  width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  transition: all ease-in-out .3s;
}
</style>

  <section class="channels fix py-section color-{{ section.settings.color_scheme }} py-5">
          <div class="container">
                             
                  <div class="row  page-width justify-content-center d-flex align-items-center ">
                      <div class="col-md-4 justify-content-center d-flex align-items-center title-section ">
                        <h2>{{ section.settings.title_channels }}</h2>
                        
                      </div>


                      {% for block in section.blocks %}
                          {% if block.type == 'benefits' %}
                            
                              <div class="col-md-2 col-6 justify-content-center d-flex align-items-center">
                                <div class="row justify-content-center">
                                  <div class="d-flex justify-content-center align-items-center flex-column col-md-6 col-6 px-0">
                                    {% if block.settings.icon != blank %}
                                      <i class="icon-benefit {{block.settings.icon}}"></i>
                                      <p> {{ block.settings.name_benefit }}</p>
                                    {% else %}
                                        <img src="{{ block.settings.image | img_url: 'master' }}" loading="lazy" alt="">  
                                        <p> {{ block.settings.name_benefit }}</p>
                                    {% endif %} 
                                  </div>
                                </div>     
                              </div>
                         
                          {% endif %}
                        {% endfor %}          
                  </div>                                  
          </div>
                
                   
</section> 



{% schema %}
  {
    "name": "Custom Values",
    "settings": [ 
    {
	"type": "text",
     "id": "title_channels",
     "label": "Title",
     "default": "Benefits"
	},
    {
	"type": "color_scheme",
     "id": "color_scheme",
     "label": "Scheme"
	 }
  ],
    "blocks": [
      {
        "type": "benefits",
        "name": "Values",
        "limit": 4,
        "settings":[
            {
                "type": "text",
                "id": "name_benefit",
                "label": "title benefit"     
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "image benefit"  
            },
            {
              "type": "text",
              "id": "icon",
              "label": "Icon Font Awesome",
              "info": "Replace the image with an icon" 
            }
      ]
  }],
  	"presets": [
      {
        "category": "custom",
        "name": "Custom Values"     
        
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


