
<div class="grid principal">
  <div class="grid-item left fadeup" style="background-image: url('{{ section.settings.image_left | img_url: 'master' }}')">
    <div class="overlay">
      <p class="centered-text font-primary">{{ section.settings.text }}</p>
    </div>
  </div>
  <div class="grid-item logo logoenter">
    <img src="{{ section.settings.logo | img_url: 'master' }}" alt=""  width="450" height="300"/>
  </div>
  <div class="grid-item right fadeup" style="background-image: url('{{ section.settings.image_right | img_url: 'master' }}')">
    <div class="overlay">
      <p class="centered-text font-primary">{{ section.settings.text_2 }}</p>
    </div>
  </div>
</div>

<style>
@keyframes logoenter {
  0% {
    transform: scale(0.5);
    opacity: 0;

    }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeup {
  0% {
    transform: translateY(50px);
    opacity: 0;

    }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeup.left {
  animation: fadeup 1s ease-out forwards;
}
.fadeup.right {
  animation: fadeup 1.5s ease-out forwards;
}
main{
  height:100vh;
}

.grid-item.logoenter {
  animation: logoenter 1.5s ease-out forwards;
}
.principal{
  background:#e3dccf;
}
.grid.principal{
  display: grid;
  grid-template-columns: 0.75fr 1.5fr 0.75fr;
  height: 100vh;
  align-items: center;
  justify-items: center;
}
.logo{
  height: auto;
  overflow: hidden; /* Para manejar cualquier desbordamiento durante la animación */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .grid.principal{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
  }
   .logo img{
     
   }
}
.font-primary{
  font-weight:900;
}
.grid-item {
  position: relative;
  height: 100%;
  width:100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-text {
  color: white;
  font-size: 2em;
}
.grid-item.left, .grid-item.right{
    background-size: cover;
    background-position: center;
}



</style>


{% schema %}
{
  "name": "Custom Banner Image",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Image Left"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Image Right"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Text 2"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner Image"
    }
  ]
}
{% endschema %}
