{% schema %}
{
  "name": "Custom Footer",
  "blocks": [
    {
      "type": "menu_column",
      "name": "Menu Column",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Select Menu"
        }
      ]
    },
    {
      "type": "custom_link",
      "name": "Custom Link",
      "settings": [
        {
          "type": "text",
          "id": "custom_link_title",
          "label": "Column Title",
          "default": "Column Title"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Link Text"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {"value": "", "label": "None"},
            {"value": "fa-facebook", "label": "Facebook"},
            {"value": "fa-twitter", "label": "Twitter"},
            {"value": "fa-instagram", "label": "Instagram"},
            {"value": "fa-linkedin", "label": "LinkedIn"},
            {"value": "fa-youtube", "label": "YouTube"}
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Footer",
      "category": "custom"
    }
  ]
}
{% endschema %}

<div class="footer">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'menu_column' %}
        <div class="footer-column">
          <h4>{{ block.settings.title }}</h4>
          <ul>
            {% for link in linklists[block.settings.menu].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

      {% when 'custom_links_column' %}
        <div class="footer-column">
          <h4>{{ block.settings.title }}</h4>
          <ul>
            {% for link_block in block.blocks %}
              <li>
                <a href="{{ link_block.settings.url }}">
                  {% if link_block.settings.icon != '' %}
                    <i class="fa {{ link_block.settings.icon }}"></i>
                  {% endif %}
                  {{ link_block.settings.text }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
    {% endcase %}
  {% endfor %}
</div>