{% schema %}
  {
    "name": "Custom Best Sellers",
    "settings": [
        {
            "type": "color_scheme",
            "id": "scheme_selector",
            "label": "Scheme Number"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Best Seller"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Lorem  ipsum dolor sit amit"
        }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product Card",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ],
        "limit": 15
      }
    ],
    "presets": [
      {
        "name": "Best Sellers",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  <style>
    a.grid-view-item__link.grid-view-item__image-container.full-width-link {
      box-shadow: 0px 3px 7px 0px #00000026;
    }
    #shopify-section-{{section.id}}, .best-sellers-section{
      text-align:center;
      background:rgb(var(--color-background-3)) !important;
    }
     .best-sellers-section{
       padding:50px 0;
     }
     #shopify-section-{{section.id}} h2 {
       color: rgb(var(--color-foreground_3));
     }
     #shopify-section-{{section.id}} p{
       color: #888888;
       max-width: 550px;
     }
    #shopify-section-{{section.id}} .grid-container-product{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 20px;
      margin-bottom: 45px;
    }
    #shopify-section-{{section.id}} .grid-item{
      display:flex;
      justify-content:center;
      align-items:center;
      background:rgb(var(--color-background-4));
      grid-column: span 3;
      color: rgb(var(--color-foreground_3));
      padding: 15px 20px 15px 20px;
    }
     #shopify-section-{{section.id}} .grid-item:nth-child(1){
       grid-column: span 4;
     }
    #shopify-section-{{section.id}} .grid-item:nth-child(2){
      grid-column: span 8;
    }
    #shopify-section-{{section.id}} .grid-item:nth-child(5){
      grid-column: span 6;
    }
    #shopify-section-{{section.id}} .grid-item .header-card{
      overflow: hidden;
    }
   @media (max-width: 991px){
   
    #shopify-section-{{section.id}} .grid-item{
       grid-column: span 4;
    }
    #shopify-section-{{section.id}} .grid-item:nth-child(1){
      grid-row:2;
    }
    #shopify-section-{{section.id}} .grid-item:nth-child(2){
      grid-column: span 12;
    }
    #shopify-section-{{section.id}} .grid-item:nth-child(5){
      grid-column: span 12 ;
    }
    #shopify-section-{{section.id}} .grid-item:nth-child(5) .body-card{
        grid-template-columns: 1fr 2fr !important;
    }
   }
   @media (max-width: 768px){
      #shopify-section-{{section.id}} .grid-item{
        grid-column: span 6 !important;
      }
      #shopify-section-{{section.id}} .grid-item:nth-child(2){
        grid-column: span 12 !important;
      }
   }
   @media (max-width: 575px){
      #shopify-section-{{section.id}} .grid-item{
        grid-column: span 12 !important;
      }
      #shopify-section-{{section.id}} .grid-item:nth-child(5) .body-card{
        grid-template-columns:2fr 1fr !important;
      }
   }
  .title-card{
    line-height: normal;
  }
  </style>
  
  <div class="best-sellers-section color-{{ section.settings.scheme_selector }} ">
    <div class="page-width d-flex justify-content-center flex-column align-items-center">
      <h2 style="margin-bottom:45px;">{{ section.settings.title }}</h2>
      <p style="margin-bottom:45px;">{{ section.settings.description }}</p>
      

      {% if section.blocks.size <= 5 %}
        <div class=" grid-container-product w-100">
          {% for block in section.blocks %}
            {% assign product = all_products[block.settings.product] %}
              {%  assign direction = "" %} 
              {% if forloop.index <= 3 %}
                {% assign direction = "right" %}
              {% else %}
                {% assign direction = "left" %}
              {% endif %}
               <div class="grid-item grid-item-{{forloop.index}}" 
                 data-aos="fade-{{direction}}"
                 data-aos-delay="{{forloop.index | minus:1}}00" 
                 data-aos-duration="600" 
                 data-aos-easing="ease-in-out"
                 data-aos-offset="-50"
                 >
  
                  {% if forloop.index == 2 %}
                    
                    <div class="d-sm-block d-none w-100">
                     {% render "custom-card-product", product:product, size:"large" %}
                    </div>
                    <div class="d-sm-none d-block w-100">
                      {% render "custom-card-product", product:product, size:"normal" %}
                    </div>
                 
                  {% elsif forloop.index == 5 %}
                    <div class="d-md-block d-none w-100">
                      {% render "custom-card-product", product:product, size:"medium" %}
                    </div>
                    <div class="d-md-none d-block w-100">
                         {% render "custom-card-product", product:product, size:"normal" %}
                    </div>
                  {% else %}
                    
                    {% render "custom-card-product", product:product, size:"normal" %}
                  {% endif %}
                 
               </div>
            
          {% endfor %}
        </div>
      
      
      {% elsif section.blocks.size > 5 and  section.blocks.size  <= 10 %}
       
          <div class="owl-carousel best-seller-carousel d-md-block d-none">
            <div class=" grid-container-product w-100">
              {% for block in section.blocks limit:5 %}
                {% assign product = all_products[block.settings.product] %}
                  {%  assign direction = "" %} 
                  {% if forloop.index <= 3 %}
                    {% assign direction = "right" %}
                  {% else %}
                    {% assign direction = "left" %}
                  {% endif %}
                  <div class="grid-item grid-item-{{forloop.index}}" 
                    data-aos="fade-{{direction}}"
                    data-aos-delay="{{forloop.index | minus:1}}00" 
                    data-aos-duration="600" 
                    data-aos-easing="ease-in-out"
                    data-aos-offset="-50"
                    >
      
                      {% if forloop.index == 2 %}
                        
                        <div class="d-sm-block d-none w-100">
                        {% render "custom-card-product", product:product, size:"large" %}
                        </div>
                        <div class="d-sm-none d-block w-100">
                          {% render "custom-card-product", product:product, size:"normal" %}
                        </div>
                    
                      {% elsif forloop.index == 5 %}
                        <div class="d-md-block d-none w-100">
                          {% render "custom-card-product", product:product, size:"medium" %}
                        </div>
                        <div class="d-md-none d-block w-100">
                            {% render "custom-card-product", product:product, size:"normal" %}
                        </div>
                      {% else %}
                        
                        {% render "custom-card-product", product:product, size:"normal" %}
                      {% endif %}
                    
                  </div>
                
              {% endfor %}
            </div>
            <div class=" grid-container-product w-100">
              {% for block in section.blocks limit:5 offset:5 %}
                {% assign product = all_products[block.settings.product] %}
                  {%  assign direction = "" %} 
                  {% if forloop.index <= 3 %}
                    {% assign direction = "right" %}
                  {% else %}
                    {% assign direction = "left" %}
                  {% endif %}
                  <div class="grid-item grid-item-{{forloop.index}}" 
                    data-aos="fade-{{direction}}"
                    data-aos-delay="{{forloop.index | minus:1}}00" 
                    data-aos-duration="600" 
                    data-aos-easing="ease-in-out"
                    data-aos-offset="-50"
                    >
      
                      {% if forloop.index == 2 %}
                        
                        <div class="d-sm-block d-none w-100">
                        {% render "custom-card-product", product:product, size:"large" %}
                        </div>
                        <div class="d-sm-none d-block w-100">
                          {% render "custom-card-product", product:product, size:"normal" %}
                        </div>
                    
                      {% elsif forloop.index == 5 %}
                        <div class="d-md-block d-none w-100">
                          {% render "custom-card-product", product:product, size:"medium" %}
                        </div>
                        <div class="d-md-none d-block w-100">
                            {% render "custom-card-product", product:product, size:"normal" %}
                        </div>
                      {% else %}
                        
                        {% render "custom-card-product", product:product, size:"normal" %}
                      {% endif %}
                    
                  </div>
                
              {% endfor %}
            </div>
          </div>
          <div class="owl-carousel best-seller-carousel-phone d-block d-md-none">
            {% for block in section.blocks %}
              {% assign product = all_products[block.settings.product] %}
                <div class="grid-item grid-item-{{forloop.index}}">
                    
                {% render "custom-card-product", product:product, size:"normal" %}
                    
                </div>
            {% endfor %}
          </div>
      {% elsif section.blocks.size > 10 and  section.blocks.size  <= 15 %}
       
          <div class="owl-carousel best-seller-carousel d-md-block d-none">
            <div class=" grid-container-product w-100">
              {% for block in section.blocks limit:5 %}
                {% assign product = all_products[block.settings.product] %}
                  {%  assign direction = "" %} 
                  {% if forloop.index <= 3 %}
                    {% assign direction = "right" %}
                  {% else %}
                    {% assign direction = "left" %}
                  {% endif %}
                  <div class="grid-item grid-item-{{forloop.index}}" 
                    data-aos="fade-{{direction}}"
                    data-aos-delay="{{forloop.index | minus:1}}00" 
                    data-aos-duration="600" 
                    data-aos-easing="ease-in-out"
                    data-aos-offset="-50"
                    >
      
                      {% if forloop.index == 2 %}
                        
                        <div class="d-sm-block d-none w-100">
                        {% render "custom-card-product", product:product, size:"large" %}
                        </div>
                        <div class="d-sm-none d-block w-100">
                          {% render "custom-card-product", product:product, size:"normal" %}
                        </div>
                    
                      {% elsif forloop.index == 5 %}
                        <div class="d-md-block d-none w-100">
                          {% render "custom-card-product", product:product, size:"medium" %}
                        </div>
                        <div class="d-md-none d-block w-100">
                            {% render "custom-card-product", product:product, size:"normal" %}
                        </div>
                      {% else %}
                        
                        {% render "custom-card-product", product:product, size:"normal" %}
                      {% endif %}
                    
                  </div>
                
              {% endfor %}
            </div>

            <div class=" grid-container-product w-100">
              {% for block in section.blocks limit:5 offset:5 %}
                {% assign product = all_products[block.settings.product] %}
                  {%  assign direction = "" %} 
                  {% if forloop.index <= 3 %}
                    {% assign direction = "right" %}
                  {% else %}
                    {% assign direction = "left" %}
                  {% endif %}
                  <div class="grid-item grid-item-{{forloop.index}}" 
                    data-aos="fade-{{direction}}"
                    data-aos-delay="{{forloop.index | minus:1}}00" 
                    data-aos-duration="600" 
                    data-aos-easing="ease-in-out"
                    data-aos-offset="-50"
                    >
      
                      {% if forloop.index == 2 %}
                        
                        <div class="d-sm-block d-none w-100">
                        {% render "custom-card-product", product:product, size:"large" %}
                        </div>
                        <div class="d-sm-none d-block w-100">
                          {% render "custom-card-product", product:product, size:"normal" %}
                        </div>
                    
                      {% elsif forloop.index == 5 %}
                        <div class="d-md-block d-none w-100">
                          {% render "custom-card-product", product:product, size:"medium" %}
                        </div>
                        <div class="d-md-none d-block w-100">
                            {% render "custom-card-product", product:product, size:"normal" %}
                        </div>
                      {% else %}
                        
                        {% render "custom-card-product", product:product, size:"normal" %}
                      {% endif %}
                    
                  </div>
                
              {% endfor %}
            </div>

            <div class=" grid-container-product w-100">
              {% for block in section.blocks limit:5 offset:10 %}
                {% assign product = all_products[block.settings.product] %}
                  {%  assign direction = "" %} 
                  {% if forloop.index <= 3 %}
                    {% assign direction = "right" %}
                  {% else %}
                    {% assign direction = "left" %}
                  {% endif %}
                  <div class="grid-item grid-item-{{forloop.index}}" 
                    data-aos="fade-{{direction}}"
                    data-aos-delay="{{forloop.index | minus:1}}00" 
                    data-aos-duration="600" 
                    data-aos-easing="ease-in-out"
                    data-aos-offset="-50"
                    >
      
                      {% if forloop.index == 2 %}
                        
                        <div class="d-sm-block d-none w-100">
                        {% render "custom-card-product", product:product, size:"large" %}
                        </div>
                        <div class="d-sm-none d-block w-100">
                          {% render "custom-card-product", product:product, size:"normal" %}
                        </div>
                    
                      {% elsif forloop.index == 5 %}
                        <div class="d-md-block d-none w-100">
                          {% render "custom-card-product", product:product, size:"medium" %}
                        </div>
                        <div class="d-md-none d-block w-100">
                            {% render "custom-card-product", product:product, size:"normal" %}
                        </div>
                      {% else %}
                        
                        {% render "custom-card-product", product:product, size:"normal" %}
                      {% endif %}
                    
                  </div>
                
              {% endfor %}
            </div>
          </div>
          <div class="owl-carousel best-seller-carousel-phone d-block d-md-none">
              {% for block in section.blocks %}
                {% assign product = all_products[block.settings.product] %}
                  <div class="grid-item grid-item-{{forloop.index}}">
                    
                      {% render "custom-card-product", product:product, size:"normal" %}
                    
                  </div>
              {% endfor %}
          </div>
      

      {% endif %}


    </div>
  </div>

 <script>
  document.addEventListener("DOMContentLoaded", function() {
    $('.best-seller-carousel').owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      dots: true,
      items: 1,
      autoplay: !window.matchMedia("(max-width: 767px)").matches,
      animateOut: 'fadeOut',
      animateIn: 'fadeIn',
      autoplayHoverPause: true,
      autoplayTimeout: 8000,
      smartSpeed: 1300,
      navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
    });
    $('.best-seller-carousel-phone').owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      dots: true,
      items: 1,
      autoplay: !window.matchMedia("(max-width: 767px)").matches,
      animateOut: 'fadeOut',
      animateIn: 'fadeIn',
      autoplayHoverPause: true,
      autoplayTimeout: 8000,
      smartSpeed: 1300,
      navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
    });
  });

</script>

<style> 

  button.owl-prev, button.owl-next {
    background: rgb(var(--color-background))!important;
    width: 35px;
    height: 35px;
    z-index: 2323;
    border-radius: 50%;
    box-shadow: 0px 0px 13px -7px black;
    color: white!important;
    margin: 0 5px;
  }
  @media (min-width: 575px){
    .best-seller-carousel:hover .owl-nav{
      opacity: 1;
      transform: translateY(0px);
    }
    .best-seller-carousel .owl-nav{
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      transform: translateY(-25px);
    }
    button.owl-prev{
     margin-left: -20px;
    }
    button.owl-next{
      margin-right: -20px;
    }
  }

</style>