{% schema %}
  {
    "name": "Custom Footer",
    "blocks": [
      {
        "type": "menu_items",
        "name": "Menu Column",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Select Menu"
          }
        ]
      },
      {
        "type": "menu_item",
        "name": "Custom Links Column",
        "settings": [
          {
            "type": "url",
            "id": "item_url",
            "label": "Link URL"
          },
          {
            "type": "text",
            "id": "item_title",
            "label": "Link Text"
          },
          {
            "type": "text",
            "id": "item_icon",
            "label": "Link Icon"
          }
        ]
      },
      {
        "type": "text",
        "name": "Title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Footer",
        "category": "custom"
      }
    ]
  }
  {% endschema %}
  
<div class="footer">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'text' %}
        {% if forloop.first or forloop.last %}
          <div class="col">
        {% endif %}
        <h4>{{ block.settings.title }}</h4>
        {% if forloop.last %}
          </div>
        {% endif %}
      {% when 'menu_items' %}
        {% if forloop.first %}
          <div class="col">
        {% endif %}
        {% for link in linklists[block.settings.menu].links %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
        {% if forloop.last %}
          </div>
        {% endif %}
      {% when 'menu_item' %}
        {% if forloop.first %}
          <div class="col">
        {% endif %}
        <a href="{{ block.settings.item_url }}">
          {% if block.settings.item_icon %}
            <i class="fa {{ block.settings.item_icon }}"></i>
          {% endif %}
          {{ block.settings.item_title }}
        </a>
        {% if forloop.last %}
          </div>
        {% endif %}
    {% endcase %}
  {% endfor %}
</div>