{% schema %}
  {
    "name": "Custom About",
    "settings": [
       {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "About"
      },
      {
        "type": "richtext",
        "id": "about",
        "label": "About",
        "default": "<p>Enter your about text here.</p>"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link Text",
        "default": "Learn More"
      }
      
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom About",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

<div class="custom-about container-fluid position-relative color-{{ section.settings.color_scheme }}">
  <div class="row page-width">
    <div class="col-12 col-md-6 d-flex align-items-md-start align-items-center flex-column justify-content-center">
      <h2>{{ section.settings.title }}</h2>
      {{ section.settings.about }}
      <a href="{{ section.settings.link }}" class="btn btn-primary hero">{{ section.settings.link_text }}</a>
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center" style="height: 450px;">
      <div class="container-image position-absolute px-0">
          {% assign images = "s" | split: "," %}
          {% for block in section.blocks %}
          
            {% assign images = images | push: block.settings.image %}

          {% endfor %}
          {{ images }}
          {%  render "custom-carousel-double", images: images %}
      </div>
    </div>
  </div>
</div>

<style>
  .container-image{
    right: -15px;
    height: 400px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transform: rotate(15deg);
  }
  .custom-about{
    padding: 50px 0;
  }
  .container-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .custom-about{
    overflow-x:hidden;
  }
</style>