{% schema %}
  {
    "name": "Custom Instafeed",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Instagram Feed"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Scheme"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Follow us on Instagram"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, libero vitae imperdiet faucibus, urna justo euismod elit, nec tincidunt nisl mi eget mauris."
      },
      {
        "type": "url",
        "id": "instagram_url",
        "label": "Instagram URL"
      },
      {
        "type": "text",
        "id": "label_button",
        "label": "Label",
        "default": "Follow us"
      }
    ],
    "presets": [
      {
        "name": "Custom Instafeed",
        "category": "custom"
      }
    ]
  }
{% endschema %}
<style>
  .section-insta{
    background: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
  }
</style>
<div class="section-insta container-fluid color-{{ section.settings.color_scheme }} py-5">
  <div class="row page-width">
    <div class="col-12">
      <h2 class="text-center adorno adorno-left adorno-white py-4">{{ section.settings.title }}</h2>
      
      {% if section.settings.subtitle != blank %}
        <h3 class="text-center">{{ section.settings.subtitle }}</h3>
      {% endif %}
        
      {% if section.settings.description != blank %}
          <p class="text-center">{{ section.settings.description }}</p>
      {% endif %}

    </div>
  </div>
  <div id="insta-feed"></div>
  <div class="d-flex justify-content-center mt-5">
    <a href="{{ section.settings.instagram_url }}" class="btn btn-primary">{{ section.settings.label_button }}</a>
  </div>
</div>

<div id="insta-feed"></div>
