
{% stylesheet %}
.section-hero {
    padding: 50px 0;
    max-height: calc(100vh - 160px); 
    height: 100vh;
}
.section-hero h1 {
  font-size: 4.5rem; 
  margin-bottom: 20px;
}
.section-hero p {
  font-size: 2rem;
  margin-bottom: 30px;
}
.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; 
  height: 100px; 
  background-size: contain;
}
.badge-new-collection {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.btn-group .btn {
  margin-right: 10px;
}
.btn-group .btn:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .hero-image-placeholder {
    margin-top: 30px;
  }
  .badge-new-collection {
    position: static;
    transform: none;
    margin: 20px auto;
  }
  .section-hero {
    max-height: max-content !important;
  }
  .section-hero *{
    text-align:center;
  }
}
  .promo_text{
    font-size: 1.6rem;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50px;
    left: -25px;
    z-index: 5;
    line-height: 1.3;
    font-style: italic;
    font-weight: 900;
  }
  .slide-right-delay{
    animation: slideRight 1s ease-in-out forwards;
    animation-delay: 0.3s;
  }
  .col-content{
    display:flex;
    align-items:start;
    flex-direction:column;
    justify-content: space-evenly;
  }
{% endstylesheet %}

<section class="section-hero color-{{ section.settings.scheme_selector }} d-flex align-items-center position-relative ">
  <div class="container-fluid me-md-0 pe-md-0">
    <div class="row me-md-0 p-0">
      <div class="col-md-6  slide-right col-content col-md-6  page-width ">
        <h1 class="mb-0 ">{{ section.settings.heading }}</h1>
        <p class="mb-0 ">{{ section.settings.description }}</p>
        <div class="btn-group d-flex slide-left">
          <a href="{{ section.settings.button_1_link }}" class="btn btn-primary">{{ section.settings.button_1_text }}</a>
          <a href="{{ section.settings.button_2_link }}" class="btn btn-primary-outline">{{ section.settings.button_2_text }}</a>
        </div>
      </div>
      <div class="col-md-6 text-right ps-md-4 position-relative pe-md-0">
     
        {% assign products = section.blocks %}
        {% render "carousel-owl-two-items" , blocks:products %}

        <div class="position-absolute promo_text pulse" style="background: {{section.settings.promo_color }};color:{{ section.settings.promo_color_text }};">
           {{ section.settings.promo_text }} 
        </div>
    
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Custom Hero Section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "scheme_selector",
      "label": "Scheme Number"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem Ipsum Dolor Sit Amet"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet consectetur. Sagittis amet condimentum enim sapien enim convallis sapien massa netus."
    },
    {
      "type": "url",
      "id": "button_1_link",
      "label": "Button 1 Link",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "button_1_text",
      "label": "Button 1 Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_2_link",
      "label": "Button 2 Link"
    },
    {
      "type": "text",
      "id": "button_2_text",
      "label": "Button 2 Text",
      "default": "Learn More"
    },
    {
      "type": "text",
      "id": "promo_text",
      "label": "Promotional Text",
      "default": "New Collection 2023"
    },
    {
      "type": "color",
      "id": "promo_color",
      "label": "Color Promo Circle"
    },
    {
      "type": "color",
      "id": "promo_color_text",
      "label": "Color Promo Circle"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product Block",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select a product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Hero",
      "category": "Custom"
    }
  ]
}
{% endschema %}
