{% schema %}
  {
    "name": "Custom Footer",
    "blocks": [
      {
        "type": "menu_items",
        "name": "Menu Column",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Select Menu"
          }
        ]
      },
      {
        "type": "menu_item",
        "name": "Custom Links Column",
        "settings": [
          {
            "type": "url",
            "id": "item_url",
            "label": "Link URL"
          },
          {
            "type": "text",
            "id": "item_title",
            "label": "Link Text"
          },
          {
            "type": "text",
            "id": "item_icon",
            "label": "Link Icon"
          }
        ]
      },
      {
        "type": "text",
        "name": "Title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Footer",
        "category": "custom"
      }
    ]
  }
  {% endschema %}
  
{% assign footer_blocks = section.blocks %}
<div class="footer">
  {% for block in footer_blocks %}
    {% case block.type %}
      {% when 'menu_items' %}
        {% if block.settings.menu %}
          <div class="footer-column">
            <ul>
              {% for link in linklists[block.settings.menu].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% when 'menu_item' %}
        <div class="footer-column">
          <ul>
            <li>
              <a href="{{ block.settings.item_url }}">
                {% if block.settings.item_icon %}
                  <i class="fa {{ block.settings.item_icon }}"></i>
                {% endif %}
                {{ block.settings.item_title }}
              </a>
            </li>
          </ul>
        </div>
      {% when 'text' %}
        <div class="footer-column">
          <h4>{{ block.settings.title }}</h4>
        </div>
    {% endcase %}
  {% endfor %}
</div>