

<div class="discount-section-counter container-fluid py-5 color-{{ section.settings.scheme_selector }} overflow-hidden position-relative">
  <div class="row">
    <div class="col-md-2 d-flex align-items-center justify-content-center">
      <div class="discount-image position-absolute first" style="
        left:0;
        transform: rotate(9deg);
        margin-left: -100px;
        max-width: 440px; 
        max-height: 440px; 
        width:37vw;
        height:37vw;
        background-image: url('{{ section.settings.image_left | img_url: '600x' }}');
        background-size: cover;
        background-position: center;"
      >
        
      </div>
    </div>
    <div class="col-md-8 text-center d-flex align-items-center flex-column justify-content-center position-relative" style="z-index:5;">
      <h2>{{ section.settings.heading }}</h2>
      <p>{{ section.settings.text }}</p>
      <div class="timer-app">
        <div id="countdownultimate-KT" class="hide-kt"></div>
      </div>
      <a href="{{ section.settings.button_url }}" class="btn btn-primary">{{ section.settings.button_label }}</a>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center ">
      <div class="discount-image position-absolute second" style="
        right:0;transform: rotate(350deg);
        margin-right: -28px;
        width: 400px;
        height: 400px; 
        width:40vw;
        height:40vw;
        background-image: url('{{ section.settings.image_right | img_url: '600x' }}'); 
        background-size: cover;
        background-position: center;
      ">
      </div>
    </div>
  </div>
</div>
<style>
 @media (max-width: 956px){
    
    .discount-image.second{
      bottom: 0%;
    }
    
}
  .timer-app .kt-timer > div:not([class]){
    display:none!important;
    visibility:hidden;
    opacity:0!important;
    height:0px!important;
  }
  .timer-app *{
    border-radius:0!important;
  }
  .discount-section-counter{
    background:rgb(var(--color-button));
    color: rgb(var(--color-button-text));
  }
  .discount-section-counter .btn-primary{
    background:rgb(var(--color-background));
    color:rgb(var(--color-foreground));
  }
  .discount-image {
    box-shadow: 10px 16px 32px 0px #0000001A;
  }
  .kt-timer .kt-card .kt-up, .kt-timer .kt-card .kt-down-parent{
    height: 53%;
  }
  .kt-timer .kt-card .kt-front .kt-down-parent, .kt-timer .kt-card .kt-front .kt-up, .kt-timer .kt-card .kt-back .kt-down-parent, .kt-timer .kt-card .kt-back .kt-up{
    background-color:{{section.settings.color_time}} !important;
  }
  .kt-section{
    background-color:{{section.settings.color_time}} !important;
    padding: 1vw;
  }
  .kt-section *{
     color:white!important;
  }
   @media (max-width: 768px){
    .kt-section{
      padding: 0px !important;
    }
    .kt-timer .kt-card .kt-holder, .kt-timer .kt-card .kt-up, .kt-timer .kt-card .kt-down-parent{
      padding: 0px !important;
    }
    .kt-timer .kt-sep{
      margin: 0px 0px 0px 0px !important;
    }
    .kt-timer .kt-unit{
      padding:4px;
      font-size: 6pt;
    }
     .discount-image{
      display:none !important;
    }
  }
  @media (min-width: 768px){
    .discount-section-counter {
      min-height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
</style>
{% schema %}
{
  "name": "Custom Discount Section",
  "settings": [
    {
      "type": "color",
      "id": "color_time",
      "label": "Color Timer"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Deal Of The Monthly Flash Sale"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Get 50% off your order from $100 and check out all fashion collection during monthly flash sale"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop Now"
    },
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Left Side Image"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Right Side Image"
    },
    {
      "type": "color_scheme",
      "id": "scheme_selector",
      "label": "Color Scheme"
    }
  ],
  "presets": [
    {
      "name": "Custom Discount",
      "category": "Custom Content"
    }
  ]
}
{% endschema %}