{% schema %}
  {
    "name": "Custom Footer",
    "blocks": [
      {
        "type": "menu_items",
        "name": "Menu Column",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Select Menu"
          }
        ]
      },
      {
        "type": "menu_item",
        "name": "Custom Links Column",
        "settings": [
          {
            "type": "url",
            "id": "item_url",
            "label": "Link URL"
          },
          {
            "type": "text",
            "id": "item_title",
            "label": "Link Text"
          },
          {
            "type": "text",
            "id": "item_icon",
            "label": "Link Icon"
          }
        ]
      },
      {
        "type": "text",
        "name": "Title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Footer",
        "category": "custom"
      }
    ]
  }
  {% endschema %}
  
  <div class="footer">
    <!-- cada vez que se detecte un title se creara una nueva columna y si no se agregara como un item, si se detecta como un menu todos los links del menu se agregan como items-->
    {% for block in section.blocks %}
      {% if block.type == 'text' %}
        <div class="footer__column">
          <h3 class="footer__title">{{ block.settings.title }}</h3>
        </div>
      {% elsif block.type == 'menu_items' %}
        <div class="footer__column">
          <h3 class="footer__title">{{ block.settings.title }}</h3>
          <ul class="footer__list">
            {% for link in block.settings.menu.links %}
              <li class="footer__item">
                <a href="{{ link.url }}" class="footer__link">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% elsif block.type == 'menu_item' %}
        <div class="footer__column">
          <h3 class="footer__title">{{ block.settings.title }}</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="{{ block.settings.item_url }}" class="footer__link">
                <i class="fas fa-{{ block.settings.item_icon }}"></i>
                {{ block.settings.item_title }}
              </a>
            </li>
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </div>