{% schema %}
{
  "name": "Custom Bar",
  "settings": [
    {
      "type": "text",
      "id": "cta_text",
      "label": "Call to Action Text",
      "default": "Call to Action"
    },
    {
      "type": "number",
      "id": "scheme_selector",
      "label": "Scheme Number",
      "default": 1
    }
  ],
  "presets": [
    {
      "name": "Custom TopBar",
      "category": "Custom"
    }
  ]
}
{% endschema %}
<div class="header-bar color-{{ section.settings.scheme_selector }}">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="social-links">
          <li><a href="{{ settings.social_instagram_link }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="{{ settings.social_facebook_link }}" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="{{ settings.social_twitter_link }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col text-right">
        <span class="cta-text">{{ section.settings.cta_text }}</span>
      </div>
    </div>
  </div>
</div>
{% stylesheet %}
  .header-bar {
  background: var(--color-background-contrast); 
  color: white;
  padding: 10px 0;

  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      margin-right: 10px;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          color: darken(white, 10%);
        }

        i {
          font-size: 1.2rem; 
        }
      }
    }
  }

  .cta-text {
    font-weight: bold;
  }
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}