
{% schema %}
  {
    "name": "Custom Testimonial",
    "settings": [
      {
        "type": "color_scheme",
        "id": "scheme_selector",
        "label": "Scheme Number"
      },
       {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "What Our Customer Say"
      },
       {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Lorem ipsum dolor sit amet consectetur. Mi eros nunc orci facilisi urna. Eu est mi diam odio blandit."
          }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "text",
            "id": "author",
            "label": "Author Name",
            "default": "Alexandro Samsóin"
          },
          {
            "type": "text",
            "id": "location",
            "label": "Location",
            "default": "Las Vegas, Montana"
          },
          {
            "type": "textarea",
            "id": "quote",
            "label": "Quote",
            "default": "Lorem ipsum dolor sit amet consectetur. Maecenas lacus dui integer et tempor sodales varius vulputate elementum. Neque quam."
          },
          {
            "type": "range",
            "id": "rating",
            "label": "Rating",
            "min": 1,
            "max": 5,
            "step": 0.1,
            "default": 4.8
          },
          {
            "type": "image_picker",
            "id": "avatar",
            "label": "Avatar"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Testimonials",
        "category": "custom"
      }
    ]
  }
  {% endschema %}
  
  <section class="testimonials section color-{{ section.settings.scheme_selector }} py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2>{{ section.settings.title }}</h2>
          <p>{{ section.settings.subtitle }}</p>
        </div>
      </div>
      <div class="owl-carousel py-5">
        {% for block in section.blocks %}
          <div class="item">
            <div class="testimonial p-4">
              <div class="testimonial-rating">
               
                <div class="header-card d-flex pb-5 justify-content-between">
                  <div class="d-flex gap-3">
                    <div class="testimonial-avatar circle">
                      {%  if block.settings.avatar %}
                      <img src="{{ block.settings.avatar | img_url: '60x60' }}" alt="{{ block.settings.author }}" width="60" height="60">
                      {% else %}
                        <i class="fa fa-user"></i>
                      {% endif %}
                    </div>
                    <div class="d-flex flex-column align-items-start">
                      <span>{{ block.settings.author }}</span>
                      <small>{{ block.settings.location }}</small>
                    </div>
                  </div>
                  <span class="stars d-flex align-items-center gap-2">
                      {% assign rating = block.settings.rating | round: 1 %}
                      <span class="fa fa-star checked" style="color:#efc80a"></span>
                      <span>{{ rating }}</span>
                    </span>
                </div>
              </div>
              <div class="testimonial p-4 d-flex justify-content-center flex-column" style="font-size:14px;">
                <p>"{{ block.settings.quote }}"</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="text-center">
        <a href="#" class="btn btn-primary">View More</a>
      </div>
    </div>
  </section>
  <style>
    .testimonials.section {
      background: rgb(var(--color-background-3));
      color:rgb(var(--color-foreground_3));
    }
    .testimonials.section h2{
       color:rgb(var(--color-foreground_3));
    }
    .testimonial{
      background:rgb(var(--color-background));
      color: rgb(var(--color-foreground));
      min-heihgt:225px;
    }
    .circle {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
    }
    .testimonial-avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .testimonial-avatar{
      background: rgb(var(--color-background-2));
      display: flex;
      align-items: center;
      justify-content: center;

    }
    .testimonial-avatar i{
      font-size: 30px;
      color: white;
    }
  </style>
  <script>
  document.addEventListener("DOMContentLoaded", function(){
      $(".testimonials .owl-carousel").owlCarousel({
          items: 3,
          margin: 30,
          loop: true,
          dots: true,
          responsive : {
            0 : { items: 1 },
            768 : { items: 2 },
            992 : { items: 3 }
          }
        });
     });
  </script>
  
  