{% schema %}
  {
    "name": "Custom Footer",
    "settings": [
      {
        "type": "color_scheme",
        "id": "scheme_selector",
        "label": "Scheme"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      }
    ],
    "blocks": [
      {
        "type": "menu_items",
        "name": "Menu Column",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Select Menu"
          }
        ]
      },
      {
        "type": "menu_item",
        "name": "Custom Links Column",
        "settings": [
          {
            "type": "url",
            "id": "item_url",
            "label": "Link URL"
          },
          {
            "type": "text",
            "id": "item_title",
            "label": "Link Text"
          },
          {
            "type": "text",
            "id": "item_icon",
            "label": "Link Icon"
          },
          {
            "type": "textarea",
            "id": "item_svg",
            "label": "Icon Svg"
          }
        ]
      },
      {
        "type": "column",
        "name": "Title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Footer",
        "category": "custom"
      }
    ]
  }
  {% endschema %}
<div class="w-100 h-100 color-{{ section.settings.scheme_selector }}"> 
   <footer class="footer-custom container" >
      {% assign count_column = 0 %}
      {% assign md_value = 12 %}
      {% assign title_count = section.blocks | where: "type", "column" | size %}
      {% assign md_value = md_value | divided_by: title_count %}
      {% assign md_value = md_value | floor %}
      {% assign html_opening_col = '<div class="col-md-' | append: md_value | append: '">' %}
      {% assign html_opening_ul = '<ul>' %}
      {% assign html_li_icon = '<li class="with-icon">' %}
      {% assign html_li_svg = '<li class="with-icon svg">' %}
      {% assign html_li_close ="</li>" %}
      {% assign li_open ="<li>" %}
    <div class="row justify-content-center">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'column' %}
            {% if count_column > 0 %}
              </ul>
              </div>
            {% endif %}
           {{html_opening_col}}
            <h3>{{ block.settings.title }}</h3>
            {{html_opening_ul}}
            {% assign count_column = count_column | plus: 1 %}
    
          {% when 'menu_items' %}
            {% if block.settings.menu != blank %}
              {% assign menu = block.settings.menu %}
              {% for link in linklists[menu].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            {% endif %}
    
          {% when 'menu_item' %}
            {% if block.settings.item_url != blank %}
                {% if block.settings.item_icon != blank %}
                   {{ html_li_icon }}
                    <i class="{{ block.settings.item_icon }}"></i>
                  
                {% elsif block.settings.item_svg != blank %}
                 {{ html_li_svg }}
                    {{ block.settings.item_svg }}

                {% else %}
                  {{ li_open }}
                {% endif %}
              
                <a href="{{ block.settings.item_url }}">{{ block.settings.item_title }}</a>
                 {{ html_li_close }}
            {% endif %}
        {% endcase %}
      {% endfor %}
      {% if count_column > 0 %}
        </ul>
        </div>
      {% endif %}
      </div>
  </footer>
  <style>
    @media (max-width: 767px) {
      
    }
    #shopify-section-{{section.id}}{
      background: rgb(var(--color-background));
    }
    .footer-custom {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .footer-custom h3 {
      font-size: 17px;
      font-weight: 700;
      color:{{section.settings.text_color}};
      margin-bottom: 20px;
    }
    .footer-custom ul {
      list-style: none;
      padding-left: 0;
    }
    .footer-custom ul li {
      margin-bottom: 5px;
    }
    .footer-custom ul li a {
      color:{{section.settings.text_color}};
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
    }
    .footer-custom ul li a:hover {
      color:{{section.settings.text_color}};
      opacity: 0.8;
    }
    .footer-custom ul li i, .footer-custom ul li svg  {
      margin-right: 5px;
    }
    .footer-custom ul li i:before {
      font-size: 16px;
    }
</style>
</div>